body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./images/table.png);
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    line-height: 25px;
    background-color: goldenrod;
    border: none;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 10px;
}

.new-card-btn {
    display: block;
    margin: 5px auto 0;
}